body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

a {
  display: inline-block;
  margin-top: 10px;
  text-align: center;
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#product-specific-fields {
  margin-top: 20px;
}

#product-specific-fields label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #333;
}

#product-specific-fields input[type="number"] {
  width: calc(50% - 20px);
  display: inline-block;
  margin-right: 10px;
}

#product-specific-fields input[type="number"]:last-of-type {
  margin-right: 0;
}

/* New styles for header buttons */
.header-buttons {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 30px;
  z-index: 1000;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.save-button {
  background-color: #007bff; /* Blue */
}

.cancel-button {
  background-color: #dc3545; /* Red */
}

.save-button:hover {
  background-color: #0056b3; /* Darker blue */
}

.cancel-button:hover {
  background-color: #c82333; /* Darker red */
}
